<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <QSoft_SocialConnect>
            <version>0.2.0</version>
            <descr>
                <en_US><![CDATA[Extension QSoft Social Connect lets your customers to login or register using their Google or Facebook account<br>
                        * Your Magento installation will have Google, Facebook and Twitter buttons added to your login page<br>
                        * This functionality will also be available at your create an account page, as well as at the first step of your store’s checkout process.
                        ]]>
                </en_US>
            </descr>
            <permanentlink>
                <en_US>http://www.qsoftvietnam.com/</en_US>
            </permanentlink>
            <license>
                <en_US><![CDATA[Open Software License 3.0 (OSL-3.0)]]></en_US>
            </license>
            <licenselink>
                <en_US>http://opensource.org/licenses/OSL-3.0</en_US>
            </licenselink>
            <redminelink>http://www.qsoftvietnam.com/</redminelink>
            <ourserviceslink>
                <en_US>http://www.qsoftvietnam.com/</en_US>
            </ourserviceslink>
        </QSoft_SocialConnect>
    </modules>
    <default>
        <social_cfg>
            <qsoft_socialconnect_google>
                <enabled>0</enabled>
            </qsoft_socialconnect_google>
            <qsoft_socialconnect_facebook>
                <enabled>0</enabled>
            </qsoft_socialconnect_facebook>
            <qsoft_socialconnect_twitter>
                <enabled>0</enabled>
            </qsoft_socialconnect_twitter>
            <qsoft_socialconnect_linkedin>
                <enabled>0</enabled>
            </qsoft_socialconnect_linkedin>
        </social_cfg>
    </default>
    <frontend>
        <translate>
            <modules>
                <QSoft_SocialConnect>
                    <files>
                        <default>QSoft_SocialConnect.csv</default>
                    </files>
                </QSoft_SocialConnect>
            </modules>
        </translate>
        <layout>
            <updates>
                <qsoft_socialconnect>
                    <file>qsoft_socialconnect.xml</file>
                </qsoft_socialconnect>
            </updates>
        </layout>
        <routers>
            <qsoft_socialconnect>
                <use>standard</use>
                <args>
                    <module>QSoft_SocialConnect</module>
                    <frontName>socialconnect</frontName>
                </args>
            </qsoft_socialconnect>
        </routers>
    </frontend>
    <global>
        <models>
            <qsoft_socialconnect>
                <class>QSoft_SocialConnect_Model</class>
            </qsoft_socialconnect>
        </models>
        <blocks>
            <qsoft_socialconnect>
                <class>QSoft_SocialConnect_Block</class>
            </qsoft_socialconnect>
        </blocks>
        <helpers>
            <qsoft_socialconnect>
                <class>QSoft_SocialConnect_Helper</class>
            </qsoft_socialconnect>
        </helpers>
        <resources>
            <qsoft_socialconnect_setup>
                <setup>
                    <module>QSoft_SocialConnect</module>
                    <class>QSoft_SocialConnect_Model_Resource_Setup</class>
                </setup>
            </qsoft_socialconnect_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <social_cfg translate="title" module="qsoft_socialconnect">
                                            <title>QSoft Social Login</title>
                                        </social_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <QSoft_SocialConnect>
                    <files>
                        <default>QSoft_SocialConnect.csv</default>
                    </files>
                </QSoft_SocialConnect>
            </modules>
        </translate>
        <layout>
            <updates>
                <qsoft_socialconnect>
                    <file>qsoft_socialconnect.xml</file>
                </qsoft_socialconnect>
            </updates>
        </layout>
    </adminhtml>
</config>
