<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Megamenu>
            <version>0.3.1</version>
        </Magestore_Megamenu>
    </modules>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Magestore_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <magestore_add_jquery_before_prototype>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>prepareLayoutBefore</method>
                    </magestore_add_jquery_before_prototype>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <translate>
            <modules>
                <Magestore_Megamenu>
                    <files>
                        <default>Magestore_Megamenu.csv</default>
                    </files>
                </Magestore_Megamenu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <megamenuadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Megamenu</module>
                    <frontName>megamenuadmin</frontName>
                </args>
            </megamenuadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <product_edit>
                        <class>megamenu/observer</class>
                        <method>saveProduct</method>
                    </product_edit>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <product_delete_after>
                        <class>megamenu/observer</class>
                        <method>deleteProduct</method>
                    </product_delete_after>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <categories_save_after>
                        <class>megamenu/observer</class>
                        <method>saveCategory</method>
                    </categories_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <category_delete_after>
                        <class>megamenu/observer</class>
                        <method>deleteCategory</method>
                    </category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <megamenu_item_save_after>
                <observers>
                    <adminhtml_megamenu_item_save>
                        <class>megamenu/observer</class>
                        <method>megamenu_item_save_after</method>
                    </adminhtml_megamenu_item_save>
                </observers>
            </megamenu_item_save_after>
            <megamenu_item_delete_after>
                <observers>
                    <adminhtml_megamenu_item_delete>
                        <class>megamenu/observer</class>
                        <method>megamenu_item_save_after</method>
                    </adminhtml_megamenu_item_delete>
                </observers>
            </megamenu_item_delete_after>
            <admin_system_config_changed_section_megamenu>
                <observers>
                    <adminhtml_megamenu_save_config>
                        <class>megamenu/observer</class>
                        <method>admin_system_config_changed_section_megamenu</method>
                    </adminhtml_megamenu_save_config>
                </observers>
            </admin_system_config_changed_section_megamenu>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <adminhtml_megamenu_save_config>
                        <class>megamenu/observer</class>
                        <method>cms_wysiwyg_config_prepare</method>
                    </adminhtml_megamenu_save_config>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
        <translate>
            <modules>
                <Magestore_Megamenu>
                    <files>
                        <default>Magestore_Megamenu.csv</default>
                    </files>
                </Magestore_Megamenu>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <core>
                <rewrite>
                    <url>Magestore_Megamenu_Model_Core_Url</url>
                </rewrite>
            </core>
            <megamenu>
                <class>Magestore_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>Magestore_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>megamenu</table>
                    </megamenu>
                    <template>
                        <table>megamenu_template</table>
                    </template>
                    <itemtemplate>
                        <table>megamenu_item_template</table>
                    </itemtemplate>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Magestore_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Magestore_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>Magestore_Megamenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <default>
        <megamenu>
            <general>                
                <enable>1</enable>
                <menu_effect>1</menu_effect>    
                <menu_type_config>2</menu_type_config>    
                <jquery>1</jquery>             
            </general>  
            <top_menu>
                <topmenu_align>0</topmenu_align>   
                <menu_width_main>779</menu_width_main>
                <menu_item_height>52</menu_item_height>
                <menu_background>175271</menu_background>
                <menu_item_size>15</menu_item_size>
                <menu_item_transform>none</menu_item_transform>
                <menu_item_color>FFFFFF</menu_item_color>
                <menu_item_active_color>FFFFFF</menu_item_active_color>
                <menu_item_active_background>206B91</menu_item_active_background>
                <submenu_background>FFFFFF</submenu_background>
                <submenu_boxtitle_color>636363</submenu_boxtitle_color>
                <submenu_main_color>636363</submenu_main_color>
                <submenu_link_color>636363</submenu_link_color>
                <subcategory_background_color>FFFFFF</subcategory_background_color>
            </top_menu>
            <left_menu> 
                <menu_background>FFFFFF</menu_background>.
                <menu_width_main>779</menu_width_main>
                <menu_item_size>15</menu_item_size>
                <menu_item_transform>none</menu_item_transform>
                <menu_item_color>2F2F2F</menu_item_color>
                <menu_item_active_color>2F2F2F</menu_item_active_color>
                <menu_item_active_background>EBEDED</menu_item_active_background>
                <submenu_background>FFFFFF</submenu_background>
                <submenu_boxtitle_color>636363</submenu_boxtitle_color>
                <submenu_main_color>636363</submenu_main_color>
                <submenu_link_color>636363</submenu_link_color>
                <subcategory_background_color>FFFFFF</subcategory_background_color>
            </left_menu>
            <mobile_menu>
                <mobile_effect>1</mobile_effect>        
                <anchor_background>074666</anchor_background>
                <anchor_color>FFFFFF</anchor_color>
                <mobile_item_size>15</mobile_item_size>
                <mobile_item_transform>none</mobile_item_transform>
                <mobile_item_background>FFFFFF</mobile_item_background>
                <mobile_item_color>2F2F2F</mobile_item_color>
                <mobile_item_active_background>EBEDED</mobile_item_active_background>
                <mobile_submenu_background>FFFFFF</mobile_submenu_background>
                <submenu_boxtitle_color>636363</submenu_boxtitle_color>
                <mobile_submenu_main_color>636363</mobile_submenu_main_color>
                <mobile_submenu_link_color>636363</mobile_submenu_link_color>
            </mobile_menu>  
        </megamenu>
    </default>
</config>