.modgit/
.idea/
/nbproject/
*.tar
var
app/etc/local.xml
media/*
images/*
/html/PS/html/html_full.rar
/.settings
/html/nbproject/private/*
/images/*
/imgs/*
/html/
/video
/productDesign
access.log
error.log
Thumb.db
'price_view','gift_type','gift_from','gift_dropdown','gift_value','gift_to','gift_price_type','gift_price'
