<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_ProductDesign>
            <version>0.2.8</version>
        </QSoft_ProductDesign>
    </modules>
    <global>
        <models>
            <productdesign>
                <class>QSoft_ProductDesign_Model</class>
                <resourceModel>productdesign_resource</resourceModel>
            </productdesign>
            <productdesign_resource>
                <class>QSoft_ProductDesign_Model_Resource</class>
                <entities>
                    <bgdesign>
                        <table>qsoft_product_background_design</table>
                    </bgdesign>
                    <frontendgroup>
                        <table>qsoft_product_group_design</table>
                    </frontendgroup>
                    <inspireme>
                        <table>qsoft_product_options_inspireme</table>
                    </inspireme>
                    <socialshare>
                        <table>qsoft_product_share</table>
                    </socialshare>
                </entities>
            </productdesign_resource>
            <catalog>
                <rewrite>
                    <product_option>QSoft_ProductDesign_Model_Catalog_Product_Option</product_option>
                    <product>QSoft_ProductDesign_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <productdesign>
                <class>QSoft_ProductDesign_Block</class>
            </productdesign>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>QSoft_ProductDesign_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tab_options_type_text>QSoft_ProductDesign_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Text</catalog_product_edit_tab_options_type_text>
                    <catalog_product_edit_tab_options_type_select>QSoft_ProductDesign_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                    <cms_block_edit_form>QSoft_ProductDesign_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_options>QSoft_ProductDesign_Block_Catalog_Product_View_Options</product_view_options>
                    <product_view_options_type_select>QSoft_ProductDesign_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <productdesign>
                <class>QSoft_ProductDesign_Helper</class>
            </productdesign>
        </helpers>
        <resources>
            <productdesign_setup>
                <setup>
                    <module>QSoft_ProductDesign</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </productdesign_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <productdesign translate="label" module="productdesign">
                        <label>Design Product</label>
                        <model>productdesign/product_type_productdesign</model>
                        <price_model>productdesign/product_price</price_model>
                        <composite>0</composite>
                        <index_priority>10</index_priority>
                    </productdesign>
                </type>
                <options>
                    <custom>
                        <groups>
                            <imagedesign translate="label" module="productdesign">
                                <label>Design</label>
                                <render>productdesign/adminhtml_catalog_product_edit_tab_options_type_design</render>
                                <types>
                                    <image translate="label" module="productdesign">
                                        <label>Images</label>
                                    </image>
                                </types>
                            </imagedesign>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>
        <fieldsets>
            <sales_convert_quote_item>
                <image_design>
                    <to_order_item>*</to_order_item>
                </image_design>
            </sales_convert_quote_item>
        </fieldsets>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <sales_quote_item_set_product>
                        <type>singleton</type>
                        <class>productdesign/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </sales_quote_item_set_product>
                </observers>
            </checkout_cart_product_add_after>
            <wishlist_product_add_after>
                <observers>
                    <wishlist_item_set_image_design>
                        <type>singleton</type>
                        <class>productdesign/observer</class>
                        <method>wishlistProductAddAfter</method>
                    </wishlist_item_set_image_design>
                </observers>
            </wishlist_product_add_after>

            <sales_convert_quote_item_to_order_item>
                <observers>
                    <productdesignconvert_quote_item_to_order_item>
                        <type>model</type>
                        <class>productdesign/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </productdesignconvert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>

    <admin>
        <routers>
            <qsproductdesignadmin>
                <use>admin</use>
                <args>
                    <module>QSoft_ProductDesign</module>
                    <frontName>qsproductdesign</frontName>
                </args>
            </qsproductdesignadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <qsproductdesignadmin>
                    <file>qsoft/productdesign.xml</file>
                </qsproductdesignadmin>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <qsoft_productdesign_saveproduct>
                        <type>singleton</type>
                        <class>productdesign/observer</class>
                        <method>saveBackgroundDesign</method>
                    </qsoft_productdesign_saveproduct>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <qsoft_productdesign>
                <use>standard</use>
                <args>
                    <module>QSoft_ProductDesign</module>
                    <frontName>productdesign</frontName>
                </args>
            </qsoft_productdesign>
        </routers>
        <layout>
            <updates>
                <qsoft_productdesign>
                    <file>qsoft/productdesign.xml</file>
                </qsoft_productdesign>
            </updates>
        </layout>
    </frontend>
</config>