<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Onepay>
            <version>0.1.0</version>
        </TTS_Onepay>
    </modules>
    <default>
    <payment>
      <onepay>
        <model>onepay/onepay</model>
      	<title>Onepay ATM Card payment</title>
        <vpc_Version>2</vpc_Version>
        <vpc_Command>pay</vpc_Command>
         <vpc_Locale>vn</vpc_Locale>
         <vpc_Currency>VND</vpc_Currency>
      </onepay>
     
       <onepayquocte>
         <model>onepay/onepayquocte</model>
      	<title>Onepay Credit Card payment</title>
        <vpc_Version>2</vpc_Version>
        <vpc_Command>pay</vpc_Command>
         <vpc_Locale>vn</vpc_Locale>
         <vpc_Currency>VND</vpc_Currency>
      </onepayquocte>
    </payment>
  </default>
    <frontend>
      <routers>
            <onepay>
                <use>standard</use>
                <args>
                    <module>TTS_Onepay</module>
                    <frontName>onepay</frontName>
                </args>
            </onepay>
        </routers>
        <layout>
            <updates>
                <onepay>
                    <file>onepay.xml</file>
                </onepay>
            </updates>
        </layout>
    </frontend>
 
    <global>
        <models>
            <onepay>
                <class>TTS_Onepay_Model</class>
                <resourceModel>onepay_mysql4</resourceModel>
            </onepay>
             <onepay_mysql4>
                <class>TTS_Onepay_Model_Mysql4</class>
                <entities>
                    <onepay>
                        <table>onepay</table>
                    </onepay>
                </entities>
            </onepay_mysql4>
          
        </models>
        <resources>
            <onepay_setup>
                <setup>
                    <module>TTS_Onepay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepay_setup>
            <onepay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onepay_write>
            <onepay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onepay_read>
        </resources>
        <blocks>
            <onepay>
                <class>TTS_Onepay_Block</class>
            </onepay>
        </blocks>
        <helpers>
            <onepay>
                <class>TTS_Onepay_Helper</class>
            </onepay>
        </helpers>
    </global>
</config>