<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_AppApi>
            <version>0.1.7</version>
        </QSoft_AppApi>
    </modules>
    <global>
        <models>
            <qsoft_appapi>
                <class>QSoft_AppApi_Model</class>
                <resourceModel>qsoft_appapi_resource</resourceModel>
            </qsoft_appapi>
            <qsoft_appapi_resource>
                <class>QSoft_AppApi_Model_Resource</class>
                <entities>
                    <token>
                        <table>qsoft_customer_token</table>
                    </token>
                    <relationship>
                        <table>qsoft_customer_relationship</table>
                    </relationship>
                </entities>
            </qsoft_appapi_resource>
            <customer>
                <rewrite>
                    <customer>QSoft_AppApi_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <qsoft_appapi>
                <class>QSoft_AppApi_Block</class>
            </qsoft_appapi>
        </blocks>
        <helpers>
            <qsoft_appapi>
                <class>QSoft_AppApi_Helper</class>
            </qsoft_appapi>
        </helpers>
        <resources>
            <qsoft_appapi_setup>
                <setup>
                    <module>QSoft_AppApi</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </qsoft_appapi_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <appapi>
                <use>standard</use>
                <args>
                    <module>QSoft_AppApi</module>
                    <frontName>appapi</frontName>
                </args>
            </appapi>
        </routers>
        <layout>
            <updates>
                <appapi>
                    <file>appapi.xml</file>
                </appapi>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qsoft_appapi translate="title" module="qsoft_appapi">
                                            <title>App Api Settings</title>
                                        </qsoft_appapi>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>