<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_Custom>
            <version>0.2.2</version>
        </QSoft_Custom>
    </modules>
    <global>
        <models>
            <qsoft_custom>
                <class>QSoft_Custom_Model</class>
                <resourceModel>qsoft_custom_resource</resourceModel>
            </qsoft_custom>
            <qsoft_custom_resource>
                <class>QSoft_Custom_Model_Resource</class>
                <entities>
                    <province>
                        <table>viettelpost_province</table>
                    </province>
                    <district>
                        <table>viettelpost_district</table>
                    </district>
                    <ward>
                        <table>viettelpost_ward</table>
                    </ward>
                </entities>
            </qsoft_custom_resource>
        </models>
        <blocks>
            <qsoft_custom>
                <class>QSoft_Custom_Block</class>
            </qsoft_custom>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>QSoft_Custom_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <qsoft_custom>
                <class>QSoft_Custom_Helper</class>
            </qsoft_custom>
        </helpers>
        <resources>
            <qsoft_custom_setup>
                <setup>
                    <module>QSoft_Custom</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </qsoft_custom_setup>
        </resources>

        <page>
            <layouts>
                <custom_one_column_full>
                    <label>1 column padding</label>
                    <template>page/1column-padding.phtml</template>
                </custom_one_column_full>
            </layouts>
        </page>
    </global>
    <admin>
        <routers>
            <qscustomadmin>
                <use>admin</use>
                <args>
                    <module>QSoft_Custom</module>
                    <frontName>qscustomadmin</frontName>
                </args>
            </qscustomadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <qscustomadmin>
                    <file>qsoft/custom.xml</file>
                </qscustomadmin>
            </updates>
        </layout>
    </adminhtml>
</config>