
.icon-icon_color:before { content: '\e800'; } /* '' */
.icon-icon_pattern:before { content: '\e801'; } /* '' */
.icon-icon_option:before { content: '\e802'; } /* '' */
.icon-icon_size:before { content: '\e803'; } /* '' */
.icon-icon_product:before { content: '\e804'; } /* '' */
.icon-icon_see_detail:before { content: '\e805'; } /* '' */