<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_SizeChart>
            <version>0.1.0</version>
        </QSoft_SizeChart>
    </modules>
    <global>
        <resources>
            <productsizechart_setup>
                <setup>
                    <module>QSoft_SizeChart</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </productsizechart_setup>
        </resources>
        <helpers>
            <sizechart>
                <class>QSoft_SizeChart_Helper</class>
            </sizechart>
        </helpers>
        <blocks>
            <sizechart>
                <class>QSoft_SizeChart_Block</class>
            </sizechart>
        </blocks>
        <models>
            <sizechart>
                <class>QSoft_SizeChart_Model</class>
                <resourceModel>sizechart_mysql4</resourceModel>
            </sizechart>
            <sizechart_mysql4>
                <class>QSoft_SizeChart_Model_Mysql4</class>
                <entities>
                    <sizechart>
                        <table>qsoft_product_sizechar</table>
                    </sizechart>
                </entities>
            </sizechart_mysql4>
        </models>
        <resources>
            <sizechart_setup>
                <setup>
                    <module>QSoft_SizeChart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sizechart_setup>
            <sizechart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sizechart_write>
            <sizechart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sizechart_read>
        </resources>
    </global>
    <admin>
        <routers>
            <sizechart>
                <use>admin</use>
                <args>
                    <module>QSoft_SizeChart</module>
                    <frontName>admin_sizechart</frontName>
                </args>
            </sizechart>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <qsoft_customermeasure>
                <children>
                    <sizechart module="sizechart">
                        <title>Manage Sizechart</title>
                        <sort_order>0</sort_order>
                        <action>admin_sizechart/adminhtml_sizechart</action>
                    </sizechart>
                </children>
            </qsoft_customermeasure>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <qsoft_customermeasure>
                            <children>
                                <sizechart translate="title">
                                    <title>Manage Sizechart</title>
                                    <sort_order>0</sort_order>
                                </sizechart>
                            </children>
                        </qsoft_customermeasure>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sizechart>
                    <file>sizechart.xml</file>
                </sizechart>
            </updates>
        </layout>
    </adminhtml>
</config> 