<?xml version="1.0"?>
<config>
    <modules>
        <QSoft_CustomerMeasure>
            <version>0.1.6</version>
        </QSoft_CustomerMeasure>
    </modules>
    <admin>
        <routers>
            <qsoft_customermeasure>
                <use>admin</use>
                <args>
                    <module>QSoft_CustomerMeasure</module>
                    <frontName>admin_customer_measure</frontName>
                </args>
            </qsoft_customermeasure>
            <adminhtml>
                <args>
                    <modules>
                        <qsoft_customermeasure before="Mage_Adminhtml">QSoft_CustomerMeasure_Adminhtml
                        </qsoft_customermeasure>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <customermeasure>
                <use>standard</use>
                <args>
                    <module>QSoft_CustomerMeasure</module>
                    <frontName>customermeasure</frontName>
                </args>
            </customermeasure>
        </routers>
        <layout>
            <updates>
                <qsoft_customermeasure>
                    <file>qsoft/customer_measure.xml</file>
                </qsoft_customermeasure>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <qsoft_customermeasure>
                <class>QSoft_CustomerMeasure_Block</class>
            </qsoft_customermeasure>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>QSoft_CustomerMeasure_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <qsoft_customermeasure>
                <class>QSoft_CustomerMeasure_Helper</class>
            </qsoft_customermeasure>
        </helpers>
        <models>
            <qsoft_customermeasure>
                <class>QSoft_CustomerMeasure_Model</class>
                <resourceModel>qsoft_customermeasure_resource</resourceModel>
            </qsoft_customermeasure>
            <qsoft_customermeasure_resource>
                <class>QSoft_CustomerMeasure_Model_Resource</class>
                <entities>
                    <measure>
                        <table>qsoft_customer_measure</table>
                    </measure>
                    <customer>
                        <table>qsoft_customer_measure_customer</table>
                    </customer>
                </entities>
            </qsoft_customermeasure_resource>
        </models>
        <resources>
            <qsoft_customermeasure_setup>
                <setup>
                    <module>QSoft_CustomerMeasure</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qsoft_customermeasure_setup>
            <qsoft_customermeasure_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qsoft_customermeasure_write>
            <qsoft_customermeasure_files_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qsoft_customermeasure_files_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <qsoft_customermeasure>
                    <file>qsoft/customer_measure.xml</file>
                </qsoft_customermeasure>
            </updates>
        </layout>

        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <qsoft_customermeasure_save>
                        <type>singleton</type>
                        <class>qsoft_customermeasure/observer</class>
                        <method>saveCustomerMeasures</method>
                    </qsoft_customermeasure_save>
                </observers>
            </adminhtml_customer_save_after>
        </events>

    </adminhtml>
    <frontend>
        <routers>
            <customer_measure>
                <use>standard</use>
                <args>
                    <module>QSoft_CustomerMeasure</module>
                    <frontName>customermeasure</frontName>
                </args>
            </customer_measure>
        </routers>
    </frontend>
    <default>
        <customer_measure>
            <files>
                <default_weight>1</default_weight>
                <default_height>1</default_height>
            </files>
        </customer_measure>
    </default>
</config>