/* ---   Create By Billy Trinh 
        Create at 13/05/2015 ----*/


/* ---- Style for Top Menu version PC ---*/
.ms-megamenu{box-sizing: border-box;text-align: left;}
.ms-featured{padding-left:20px;}
.ms-megamenu img{display: inline;vertical-align: middle;max-width: 100%;}
.ms-megamenu .ms-topmenu{
    position: relative;
    background: #2f2f2f;
    float: left;
    width: 100%;
    z-index: 1001;
}
.ms-megamenu .ms-level0{   
}
.ms-level0.item_relative{position: relative;}
.ms-megamenu .ms-level0.active{
    /*background: #3b3b3b;*/
}
.ms-topmenu .ms-submenu a{
    outline: none;
}
.ms-megamenu .ms-label{
    color:#fff;
    font-size: 15px;
    opacity: 0.9;
    filter:alpha(opacity=90);
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
}
.ms-topmenu .ms-label{
    float:left;
    padding:15px;
}
.ms-megamenu .ms-iconmega{
    vertical-align: top;
    position: relative;
}
.ms-megamenu .ms-submenu{
    display: none;
    position: absolute;
    top:52px;
    z-index: 10000;
    padding:15px;
    background:#fff;
    border:1px solid #ddd;
    max-width: 100%;
    border-top: 0;
    min-width: 160px;
}
.ms-header,.mb-header{
    float: left;
    width: 100%;
    padding:10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.ms-footer,.mb-footer{
    float: left;
    width: 100%;
    padding:10px 0;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
.col-category .level1{
    font-weight: 700;
    /*padding-top:10px;*/
}
.col-category .level2{font-weight: 400;}
.col-sub{
    display: none;
    -moz-transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
}
.ms-category-level .col-sub{
    display: none;
    position: absolute;
    left: 150px;
    width: 16em;
    background-color: #fff;
    z-index: 10001;
    padding: 12px;
    min-width: 12em;
    -webkit-box-shadow: 0px 1px 10px rgb(153, 153, 153);
    box-shadow: 0px 2px 12px rgb(153, 153, 153);
}
.ms-megamenu .parent .small{float:right;top:4px;}
.active > .col-sub{display: block;}
.level2  small{
    font-size: 50%;
    top: -2px;
}
.level2.active .level2{
    text-indent: 5px;
    -moz-transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
}
.mb-version .col-category .sub-level3{
    width: 100%;
    float: left;
    z-index: 10001;
    padding:0 10px;
}
.mb-version .parent .col-sub{
    padding:0 0 0 10px;
    position: static;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
}
.mb-version .parent .form-group a{float:left;}
.mb-version .ms-category-level .col-category .form-group{
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.ms-category-dynamic .col-level{padding: 0px;}
.ms-category-dynamic .col-level .col-xs-12.form-group{
   /* padding: 10px 0;*/
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0;
    text-indent: 10px;
    -moz-transition: all ease-in-out 100ms;
    -webkit-transition: all ease-in-out 100ms;
    -o-transition: all ease-in-out 100ms;
    transition: all ease-in-out 100ms;
    background-color: #fff;
}
.ms-category-dynamic .col-level .col-xs-12.form-group.active{
    /*background-color: #E6E8E8;
    border-right-color: #E6E8E8;*/
    border-right-color:rgba(0,0,0,0);
    background-color: transparent;
}
.ms-category-dynamic .col-level .col-xs-12.form-group.last{}
.ms-category-dynamic .col-level .col-xs-12.form-group a{
    font-weight: 600;
    float:left;
    width:100%;
    padding:10px 0;
}
.ms-category-dynamic .col-level .col-xs-12.form-group.active a { color: #8A1F1F;}
.ms-category-dynamic .col-level .col-xs-12.form-group a:hover { 
    color: #8A1F1F;
    text-decoration: none;
}
.ms-category-dynamic .col-level .col-xs-12.form-group.active a .small{
    display: none;
}
.ms-category-dynamic .col-dynamic{
    display: none;
    padding-top: 10px;
}
.ms-category-dynamic .active.col-dynamic{
    display: block;
}
.ms-category-dynamic .col-dynamic .col-category-image img{
    outline: 0;
    transition: all 200ms ease-in-out;
    -ms-transform: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}
small.glyphicon.glyphicon-th-large{
    font-size: 50%;
    margin-left: -6px;
    padding-right: 5px;
    top: -2px;
}
.ms-category-dynamic .col-dynamic a span{font-weight: 600;font-size: 12px;}
.ms-category-dynamic .col-dynamic a:hover span{color:#F54747;font-weight: 600;}
.ms-category-dynamic .col-dynamic a:hover img{
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-tranform:translateY(-10px);
    -webkit-transform: translateY(-10px);
}
.ms-category-dynamic .dynamic-content{
   /* background:  #E6E8E8;*/
}
.ms-category-dynamic .col-category{padding: 0 5px;}
.ms-category-dynamic .dynamic-viewall{
    float:left;
    text-align:center;
    text-transform:uppercase;
    color:#175271 !important;
    font-weight: 600;
    font-size: 13px;
    -ms-transform: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
}
.ms-category-dynamic .dynamic-viewall small{padding-left: 6px;}
.ms-category-dynamic .dynamic-viewall:hover{
    text-decoration: none;
    color: #860F0F !important;
    border-color: #860F0F;
}
/*------- Product -------------------*/
.ms-megamenu .f-product .product-image{}
.ms-megamenu .f-product .product-image img{width:100%;}
.mb-content .item,
.mb-content .col-productlist,
.mb-content .col-category,
.mb-featured .f-product,
.mb-featured .f-category{padding-top: 10px;padding-bottom: 10px;}

/* ------ Contact form  ------------------*/
.ms-contact .ms-title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0 0 5px;
    float: left;
    width: 100%;
}
.ms-contact label em{color: red;}

/*---------------------Mobile version-------------------------*/
.megamenu-mobile{display: none;text-align: left;}
.ms-megamenu .anchor_mbmenu{
    background: rgb(7, 70, 102);
    padding: 8px 0;
}
.ms-megamenu .anchor_mbmenu .anchor_mbmenu_text{
    outline: 0;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.megamenu-mobile .mb-topmenu{display:none;  position: relative;float:left;width:100%;}
.ms-megamenu .mb-submenu{
    position: absolute;
    left: 100%;
    top:0;
    z-index: -1;
    background: #fff;
    display:none;
    float:left;
    width: 100%;
}
.ms-megamenu .mb-submenu.blind{
    position: static;
}
.ms-megamenu .mb-label{
    padding:12px 15px 8px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-top: 0;
    color: #2f2f2f;
    text-decoration: none;
    outline: none;
}
.ms-megamenu .mb-label.flag{
    background: #EBEDED;
}
.ms-megamenu .mb-label.mb-return{border: 0;}
.ms-megamenu .mb-label span{float:left;}
.ms-megamenu .mb-click span{float: right;  margin-right: -15px;}
.ms-megamenu .active .mb-submenu{
    display: inline;
    z-index: 1001;
}
.ms-megamenu .mb-submain{
    padding:15px;
    border: 1px solid #ddd;
    border-top: 0;
}
/*---- Fix for magento 1.9---*/
#header-nav{display: block;}
.skip-nav{display: none;}

/* ----- Left Menu ---------*/
.item_relative{position: relative;}
.ms-leftmenu{
    position: relative;
    z-index: 1000;
    text-align: left;
}
.ms-leftmenu .msl-level0{
    float:left;
    width:100%;
}
.ms-leftmenu .msl-submenu{
    display: none;
    position: absolute;
    top: 0px;
    left:239px;
    z-index: 10000;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    min-width: 160px;
}
.ms-leftmenu .msl-label{
    padding: 12px 25px 8px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-top: 0;
    color: #2f2f2f;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
}
.ms-leftmenu .msl-label.first{
    border-top: 1px solid #ddd;
}
.ms-leftmenu .msl-label.flag{
    background: #EBEDED;
}
.ms-leftmenu .msl-label span.small{float: right;  margin-right: -15px;}
/*---------------------Mobile version for Left menu -------------------------*/
.lmegamenu-mobile{display: none;}
.ms-megamenu .anchor_lmbmenu{
    background: rgb(7, 70, 102);
    padding: 8px 0;
}
.ms-megamenu .anchor_lmbmenu .anchor_lmbmenu_text{
    outline: 0;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.lmegamenu-mobile .lmb-leftmenu{display:none;position: relative;text-align:left;float:left;width:100%;}
.ms-megamenu .lmb-submenu{
    position: absolute;
    left: 100%;
    top:0;
    z-index: -1;
    background: #fff;
    display:none;
    float:left;
    width: 100%;
}
.ms-megamenu .lmb-submenu.blind{
    position: static;
}
.ms-megamenu .lmb-label{
    padding:12px 25px 8px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-top: 0;
    color: #2f2f2f;
    text-decoration: none;
    outline: none;
}
.ms-megamenu .lmb-label.flag{
    background: #EBEDED;
}
.ms-megamenu .lmb-label.lmb-return{border: 0;}
.ms-megamenu .lmb-label span{float:left;}
.ms-megamenu .lmb-click span{float: right;  margin-right: -15px;}
.ms-megamenu .active .lmb-submenu{
    display: inline;
    z-index: 1001;
}
.ms-megamenu .mb-submain{
    padding:15px;
    border: 1px solid #ddd;
    border-top: 0;
}
.ms-megamenu .mb-submenu.slide,.ms-megamenu .lmb-submenu.slide{
    top:-42px;
}
/*@media (max-width: 460px) {
     .mb-content .col-productlist, .mb-content .col-category{
        padding-top:0;
        padding-bottom: 0;
    }
}*/