<?xml version="1.0"?>
<config>
    <modules>
        <Monyet_Storelocator>
            <version>2.2.3</version>
        </Monyet_Storelocator>
    </modules>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Monyet_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>monyet/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
		
    </frontend>
    <admin>
        <routers>
			<storelocator>
				<use>admin</use>
				<args>
					<module>Monyet_Storelocator</module>
					<frontName>storelocator</frontName>
				</args>
			</storelocator>
        </routers>
    </admin>	
    <adminhtml>
		<layout>
			<updates>
				<storelocator>
					<file>monyet/storelocator.xml</file>
				</storelocator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <storelocator>
                <class>Monyet_Storelocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Monyet_Storelocator_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>storelocator_store</table>
                    </store>
					<store_store>
                        <table>storelocator_store_store</table>
                    </store_store>
                </entities>
            </storelocator_mysql4>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Monyet_Storelocator</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
        <blocks>
            <storelocator>
                <class>Monyet_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Monyet_Storelocator_Helper</class>
            </storelocator>
        </helpers>		
    </global>
    <default>
        <general>
            <storelocator>
                <active>1</active>
				<display_store_url>2</display_store_url>
				<link_title>Store Locator</link_title>
				<search_fields>name</search_fields>
				<store_map>2</store_map>
				<map_size>600*400</map_size>	
				<num_top_store>5</num_top_store>		
				<active_gapi>0</active_gapi>
				<gkey></gkey>
            </storelocator>
        </general>
    </default>		
</config>